.label {
  margin-right: 10px;
  color: #555555;
}

.dropdown {
  background-color: #232323;
  font-size: 1em;
  border: 0;
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
