.card {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.container {
  position: relative;
  height: 400px;
}

.image {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  color: white;
}

.genres {
  color: gray;
}

.options {
  top: 0;
  right: 0;
  position: absolute;
}

.edit {
  top: 0;
  left: 0;
  position: absolute;
  margin: 5px;
  border-radius: 6px;
  font-size: 10px;
  color: #ffffff;
  background-color: #f65261;
}

.remove {
  top: 0;
  right: 0;
  position: absolute;
  margin: 5px;
  border-radius: 6px;
  font-size: 10px;
  color: #ffffff;
  background-color: #f65261;
}
